/output data/*
/venv/
/input data/АИИСКУЭ/
/input data/АСУ/
/input data/ВОЛС/
/input data/Графики дежурств/
/input data/Телеканал/
/input data/Тех.учет/
/input data/2019.rar

.gitignore
.idea/.gitignore
.idea/Work plan generator.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/

/input data/xls to xlsx converter.xlsm
